antida_test/__pycache__/__init__.cpython-38.pyc
antida_test/__pycache__/settings.cpython-38.pyc
antida_test/__pycache__/urls.cpython-38.pyc
antida_test/__pycache__/wsgi.cpython-38.pyc
.vscode/settings.json
db.sqlite3
